@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

a {
  text-decoration: none;
}

.center {
  padding-right: calc((100% - 1140px) / 2);
  padding-left: calc((100% - 1140px) / 2);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.logo__img {
  height: 51px;
  width: 59px;
  margin-right: 13px;
}

.logo__last-letter {
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.button {
  padding: 10px 12px 10px 19px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.03em;
  background-color: #f16d7f;
}

.button i {
  margin-left: 8px;
  font-size: 14px;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__form {
  display: flex;
  margin-left: 37px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__card {
  margin-right: 26px;
  margin-bottom: -10px;
}

.form {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  height: 38px;
  overflow: hidden;
}

.form__browse {
  outline: none;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 36px;
  cursor: pointer;
}

.form__browse summary {
  outline: none;
  padding: 0 8px 0 15px;
  color: #838383;
}

.form__browse summary::-webkit-details-marker {
  display: none;
}

.form__browse summary::-moz-list-bullet {
  list-style-type: none;
}

.form__browse summary::before {
  content: none;
}

.form__browse summary::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-left: 8px;
}

.form__input {
  font-size: 14px;
  font-weight: 300;
  color: #a4a4a4;
  letter-spacing: 0.03em;
  width: 280px;
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 14px 16px;
  outline: none;
}

.form__button {
  width: 36px;
  border: none;
  background-color: inherit;
  outline: none;
  padding: 13px 0 11px 0;
  cursor: pointer;
  color: #a4a4a4;
}

.card__img {
  height: 29px;
  width: 32px;
}

.nav {
  background-color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  display: block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding: 19px 19px 21px;
}

.menu__link:hover {
  text-shadow: 0 0 1px #818080;
}

.promo {
  height: 613px;
  background-color: #e8e8e8;
  background-image: url(../images/promo.png);
  background-repeat: no-repeat;
  background-position: center -51px;
  display: flex;
  align-items: start;
}

.promo__content {
  margin-top: 225px;
  padding-left: 12px;
  border-left: 12px solid #f16d7f;
}

.promo__h1 {
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  padding-bottom: 18px;
  line-height: 44px;
}

.promo__h2 {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 35px;
}

.promo__h2 span {
  color: #f16d7f;
}
