.category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 1023px;
  padding-bottom: 100px;
  padding-top: 100px;

  &__item {
    position: relative;
    height: 261px;
    width: 560px;
    &_big {
      height: 542px;
      width: 560px;
    }

    &:hover {
      box-shadow: 2px 2px 8px $colorShadow;
    }
  }

  &__img {
    height: 100%;
  }

  &__badge {
    position: absolute;
    top: 26px;
    height: 82px;
    padding: 16px 18px;
    background-color: #ffffff;
  }

  &__badge-name {
    font-size: 18px;
    font-weight: 900;
    color: $headingColorText;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__badge-heading {
    font-size: 30px;
    font-weight: 900;
    color: $buttonColor;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
