.feature {
  padding-bottom: 97px;
  &__box {
    background-color: #222224;
    display: flex;
  }

  &__img {
    height: 529px;
    width: 767px;
    background-color: #f0f0f0;
    background-image: url(../images/Feature_img.jpg);
    background-size: cover;
    padding-top: 132px;
    padding-left: 39px;
  }

  &__h1 {
    font-size: 54px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
    &_color {
      font-size: 54px;
      font-weight: bold;
      color: $buttonColor;
      letter-spacing: 0.03em;
    }
  }

  &__h2 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.03em;
  }

  &__articles {
    width: 373px;
    padding: 48px 36px 48px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__article {
    display: flex;
    justify-content: space-between;
  }

  &__article-img {
    align-self: start;
  }

  &__article-content {
    width: 100%;
  }

  &__article-h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fbfbfb;
    letter-spacing: 0.03em;
    margin-left: 33px;
  }

  &__article-text {
    font-size: 14px;
    font-weight: 300;
    color: #fbfbfb;
    letter-spacing: 0.03em;
    line-height: 24px;
    margin-left: 30px;
  }
}
