.footer {
  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
    background-color: #e6e6e6;
  }

  &__copyright-text {
    font-size: 16px;
    color: #7a7a7a;
    letter-spacing: 0.03em;
    line-height: 42px;
  }

  &__copyright-icons {
    display: flex;
  }

  &__copyright-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    font-size: 16px;
    color: #b2b2b2;
    background-color: #fff;
    letter-spacing: 0.03em;
    line-height: 42px;
    transition: 0.8s;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:hover {
      background-color: $buttonColor;
      color: #f7f7f8;
    }
  }
}
