.slider {
  height: 613px;
  background-color: #e8e8e8;
  background-image: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-position: center -51px;
  display: flex;
  align-items: start;
  &__content {
    margin-top: 225px;
    padding-left: 12px;
    border-left: 12px solid $buttonColor;
  }

  &__h1 {
    font-size: 60px;
    font-weight: 900;
    color: $headingColorText;
    letter-spacing: 0.03em;
    padding-bottom: 18px;
    line-height: 44px;
  }

  &__h2 {
    font-size: 40px;
    font-weight: 900;
    color: $headingColorText;
    letter-spacing: 0.03em;
    line-height: 35px;
    & span {
      color: $buttonColor;
    }
  }
}
