@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
@import "_variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  max-width: $widthSite;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}
a {
  text-decoration: none;
}

.center {
  padding-right: calc((100% - 1140px) / 2);
  padding-left: calc((100% - 1140px) / 2);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  &__img {
    height: 51px;
    width: 59px;
    margin-right: 13px;
  }

  &__last-letter {
    color: $buttonColor;
    font-size: 27px;
    font-weight: 900;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
  }
}

.button {
  padding: 10px 12px 10px 19px;
  font-size: 15px;
  color: $buttonColorText;
  letter-spacing: 0.03em;
  background-color: $buttonColor;
  & i {
    margin-left: 8px;
    font-size: 14px;
  }
}
